body {
    background-color: yellow;
}
img {
    height: 50%;
    width: 50%;
}
@media only screen and (max-width: 480px) {
    body {
        background-color: yellow;
    }
}
@media only screen and (min-width: 481px)
            and (max-width: 1000px) {
    body {
        background-color: lightgreen;
    }
}
@media only screen and (min-width: 1001px) {
    body {
        background-color: lavender;
    }
}
