.card {
 	background-color: lightgray;
	width: 50%;
	height: 200px;
	padding: 20px;
	border: 5px solid darkblue;
	margin: 10px;
}
h1, h2 {
	float: right;
}

img.pic {
	float: left;
	width: 150px;
}