#one h1
{
    font-family: 'Solway', serif;
}
#one p
{
    font-family: 'Rozha One', serif;
}
#two h1
{
    font-family: 'Oswald', sans-serif;
}
#two p
{
    font-family: 'Anton', sans-serif;
}
#three h1
{
    font-family: 'Anton', sans-serif;
}
#three p
{
    font-family: 'Poppins', sans-serif;
}
#four h1
{
    font-family: 'Cinzel', serif;
}
#four p
{
    font-family: 'Stoke', serif;
}