body {
    background-color: #99ccff;
}
label {
    display: inline-block;
    width:100px;
    text-align: right;
}
.buttons {
    font-size: 1em;
    font-weight: bold
}
#submit {
    background-color: #03fc2c;
}
#reset {
    background-color: #ff0000;
}
